<mat-toolbar class="app-toolbar-footer" color="primary">
	<mat-toolbar-row>
    <span>
      
    </span>
    <span class="footer-toolbar-fill-remaining-space">
    </span>
    <span>
    <a href="mailto:zrubio@protonmail.com?subject=From%20Angular6Test">
      Mail
    </a>
    </span>
    <span>
    <a href="https://github.com/zrubio">
      Github
    </a>
    </span>
    <span>
    <a href="https://es.linkedin.com/in/zrubio">
      Linkedin
    </a>
    </span>
	</mat-toolbar-row>
</mat-toolbar>